+++
title = "pySequila"
linkTitle = "pySequila"

+++

{{< blocks/cover title="pySeQuiLa: A distributed SQL for genomics!" image_anchor="top" height="full" color="orange" >}}

<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< param "doc_url" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/biodatageeks/pysequila">
		Source code <i class="fab fa-github ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-info mr-3 mb-4" href="https://pypi.org/project/pysequila/">
		PyPI package <i class="fab fa-python ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-success mr-3 mb-4" href="https://artifacthub.io/packages/helm/biodatageeks/pysequila">
		Helm chart <i class="fab fa-docker ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-danger mr-3 mb-4" href="https://scholar.google.pl/scholar?q=sequila">
		Research papers<i class="fas fa-book ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-dark mr-3 mb-4" href="https://colab.research.google.com/github/biodatageeks/notebooks/blob/colab/pysequila/pysequila_colab.ipynb">
		Try it in Google Colab <i class="fab fa-google ml-2 "></i>
	</a>
	<p class="lead mt-10">Analyze population-scale datasets seamlessly - in the cloud!</p>
	<p class="lead mt-10">pySeQuiLa is a Python wrapper for SeQuiLa,
		an ANSI-SQL compliant solution for distributed processing of Next Generation Sequencing data built on top of Apache Spark.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/lead >}}
<div class="col">
	<h2 class="text-center">pySeQuiLa extends Apache Spark SQL with highly efficient implementations of common bioinformatics operations such as
		interval joins, depth of coverage or pileup.</h2>
</div>

{{< /blocks/lead >}}


{{< blocks/lead >}}
<div class="col">
	<h2 class="text-center">It combines analytical power of Python with SQL syntax for almost unlimited querying and processing of NGS data.</h2>
</div>

{{< /blocks/lead >}}


{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/biodatageeks/pysequila" %}}
We do a [Pull Request](https://github.com/biodatageeks/pysequila/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/biodatageeks" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}




<!--{{< blocks/section >}}-->
<!--{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}-->
<!--Get the Goldydocs app!-->
<!--{{% /blocks/feature %}}-->


<!--{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}-->
<!--We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!-->
<!--{{% /blocks/feature %}}-->


<!--{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}-->
<!--For announcement of latest features etc.-->
<!--{{% /blocks/feature %}}-->


<!--{{< /blocks/section >}}-->

<!--{{< blocks/section >}}-->

<!--&lt;!&ndash;<div class="col-12">&ndash;&gt;-->
<!--&lt;!&ndash;<h1 class="text-center">This is another Section</h1>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--{{< /blocks/section >}}-->
